.pagination{
    list-style: none;
    display: inline-block;

    li{
        display: inline-block;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid var(--table-border-color);
    }

    .page-item{
        border-left: none;
    }

    li:nth-last-child(1){
        border-left: none;
    }

    .active{
        color: white;
        background-color: var(--page-active-color);
    }
}